* {
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

body {
  margin: 0;
  background: #33373E;
}

.image{
  width: 40px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222A;
  padding: 30px 25px;
}

nav h3{
  color: #00D8FF;
}

nav h4{
  color: #DEEBF8;
}

.logo{
  display: flex;
  align-items: center;
  gap: 1rem;
}

main{
  color: white;
  padding: 57px 27px;
  background-image: url('./images/grey-react-logo.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-size: 40%;
}

main h1{
  margin: 0;
  font-size: 39px;
}

.main-facts{
  margin-top: 46px;
}

.main-facts > li{
  line-height: 19px;
  padding-block: 10px;
}

.main-facts > li::marker{
  font-size: 1.4rem;
  color: #00D8FF;
}
